@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:wght@600&display=swap');
html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {box-sizing: content-box;}

.container {
    width: 1280px;
    margin: 0 auto;
}

/* Hero */
#hero {
    background: linear-gradient(rgba(0, 0, 0, 0.300), rgba(0,0,0,0.300)), url('./hero-background.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: fixed;
}

.hero-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hero-box h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
}

.hero-box h3 {
    color: #ffffff9f;
}
/*  ---- */
.mb-16 {
    margin:0px 0px 16px 0px;
}

.mtb-16 {
    margin: 16px 0;
}

/* about */
#about {

}

.about-box,
.technology-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-box .about-content-box,
.technology-box .technology-content-box,
.resume-box .resume-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

.about-content-box img {
    max-width: 500px;
}

.about-content-box p {
    max-width: 500px;
    font-family: 'Montserrat Alternative', sans-serif;
    font-size: 18px;
    color: #464646;
}


/* technologies */
.technologies {
    width: 250px;
    text-align: center;
}

.technologies h3 {
    font-size: 20px;
}

.technologies p {
    font-size: 18px;
    margin: 0 0 16px 0;
    color: #464646;
}

/* resume */
.resume-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}


.resume-content-box h5 {
    width: 100%;
    max-width: 500px;
    font-size: 18px;
    letter-spacing: 1px;
}

.resume-content-box div {
    width: 100%;
    max-width: 600px;
    padding: 50px 50px;
    box-shadow: 1px 1px 1px 1px #464646;
}

.resume-content-box .content-box h6 {
    font-size: 16px;
    color: #464646;
    letter-spacing: 1px;
}

.resume-content-box .content-box h3 {
    font-size: 24px;
    letter-spacing: 1.5px;
}

.resume-content-box .content-box p {
    font-size: 16px;
    color: #464646;
    letter-spacing: 0.5px;
}


/* --- */

/* footer  */

#footer {

}

.footer-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.footer-content-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-evenly;
}

.email-box, .media-box {
    width: 100%;
    max-width: 500px;
}

.email-box a, .media-box a{
    color: #464646;
    text-decoration: none;
    display: block;
    letter-spacing: 1px;
}



/* --- */

.content-line {
    width: 1170px;
    height: 2px;
    border: none;
    background-color: #03712c;
}

.after-line {
    width: 50px;
    height: 2px;
    border: none;
    background-color: #03712c;
}



@media(max-width: 768px){
    .container {
        width: 600px;
    }

    .hero-box h1 {
        font-size: 26px;
    }
    .hero-box h3 {
        font-size: 14px;
    }
    .about-box {
        height: auto;
        width: 100%;
    }
    .about-box h2 {
        font-size: 20px;
    }
    .about-box .about-content-box, .resume-content-box {
        justify-content: space-between;
    }
    .about-content-box img {
        width: 100%;
        max-width: 240px;
        height: 240px;
    }
    .about-content-box p {
        max-width: 240px;
        font-size: 16px;
        color: #464646;
    }

    .technology-box h2 {
        font-size: 20px;
    }

    .technologies {
        width: 100%;
        max-width: 150px;
        margin-bottom: 16px;
    }
    .technologies h3 {
        font-size: 14px;
    }
    .technologies p {
        font-size: 14px;
    }
    /* resume */
    .content-line {
        max-width: 600px;
    }
    
    .resume-content-box h5 {
        max-width: 200px;
        font-size: 16px;
    }

    .resume-content-box div {
        max-width: 400px;
        padding: 30px 30px;
    }

    .resume-content-box .content-box h6 {
        font-size: 12px;
    }

    .resume-content-box .content-box h3 {
        font-size: 20px;
    }

    .resume-content-box .content-box p {
        font-size: 12px;
    }

    .email-box, .media-box {
        max-width: 400px;
    } 

    .resume-box h2 {
        font-size: 20px;
    }
}

@media(max-width: 425px){
    .container {
        width: 375px;
    }
    .hero-box h1 {
        font-size: 26px;
    }
    .hero-box h3 {
        font-size: 14px;
    }
    /* about */
    .about-box {
        height: auto;
        width: 100%;
    }

    .about-box .about-content-box, .resume-content-box {
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-content-box img {
        width: 100%;
        max-width: 375px;
        height: 300px;
    }
    .about-content-box p {
        max-width: 375px;
        padding: 16px 0;
    }
    /* technology */
    .technology-box {
        height: auto;
    }

    .technology-box .technology-content-box  {
        flex-wrap: wrap;
        justify-content: center;
    }

    .technologies {
        width: 100%;
        max-width: 375px;
        margin-bottom: 16px;
    }

    .technologies h3 {
        font-size: 16px;
    }
    /* resume */
    .content-line {
        max-width: 375px;
    }

    .resume-content-box h5 {
        max-width: 375px;
    }

    .resume-content-box div {
        max-width: 375px;
    }

    /* footer */
    .footer-box {
        height: 100vh;
    }

    .footer-box .footer-content-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .email-box, .media-box {
        max-width: 375px;
    } 

    .email-box a, .media-box a {
        font-size: 14px;
    } 
}

@media (max-width: 375px){
    .container {
        width: 375px;
    }

    .hero-box h1 {
        font-size: 24px;
    }

    .hero-box h3 {
        font-size: 12px;
    }

    .about-box {
        height: auto;
        width: 100%;
    }

    .about-box .about-content-box, .resume-content-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-content-box img {
        width: 100%;
        max-width: 300px;
        height: 300px;
    }
    
    .about-content-box p {
        max-width: 300px;
        padding: 16px 0;
    }

    .technology-box {
        height: auto;
    }

    .technology-box .technology-content-box  {
        flex-wrap: wrap;
        justify-content: center;
    }

    .technologies {
        width: 100%;
        max-width: 300px;
        margin-bottom: 16px;
    }

    .content-line {
        max-width: 320px;
    }

    .resume-content-box h5 {
        max-width: 320px;
    }

    .resume-content-box div {
        max-width: 320px;
    }

    .footer-box {
        height: 100vh;
    }

    .footer-box .footer-content-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    .email-box, .media-box {
        max-width: 320px;
    } 

    


}
