
.homepage {

    background-image: linear-gradient(180deg, #000, #fff); 
    
}

.homepage-content {
    width: 1280px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
   justify-content: center;
   color: #fff ;
}

.box {
    width: 40%;
    margin: 0 16px;
}
.boxx {
    width: 40%;
    margin: 0 16px;
}

.bottom {
    width: 1280px;
    height: 60px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.bottom p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16pt;
    color: #3d3d3d;
    font-weight: 400;
    margin: 0;
}

.social-media .media{
    margin: 0; 
}

.media li {
    text-decoration: none;
    display: inline;
    margin: 0 16px;
    margin: 0;
    margin:0 16px;
}

@media screen and(min-width: 900px){
  
}